.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    margin: 5px;
    padding: 5px;
    width:98%
}

.filter a{
    margin: 5px;
}

.active{
    color:red;
}

button{
    background-color: transparent;
    border: none;
    padding: 5px;
}

button:focus {
    outline: none;
}
  